<%- include("headTag", {title: "Message board", styles: "form"}) %>
<body>
	<form method="post" action="/new">
		<h1>Introduce your message</h1>
		<%- include("inputs", {label: "name", placeholder: "Name", type: "text", required: true}) %>
		<%- include("textArea", {label: "msg", placeholder: "Message", rows: 6, cols: 80, required: true}) %>
		<button type="submit" class="btn">Send message</button>
	</form>
</body>
</html>