body {
	background-color: white;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.indexHeader {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.5em;
	gap: 20px;
	background-color: azure;
	box-shadow: .5px .5px 20px #d0d0d098;
	position: sticky;
	top: 0;
}

.indexHeader>h1 {
	flex-grow: 1;
}

.indexHeader button {
	background-color: cornflowerblue;
	font-size: 1.2rem;
	border: none;
	border-radius: 1.4em;
	padding: 0.8em;
	cursor: pointer;
}

.indexHeader button:hover {
	background-color: rgb(60, 87, 137);
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.messageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.message {
	list-style: none;
	padding: 2em;
	width: 50%;
	background-color: rgb(242, 238, 233);
	box-shadow: .5px .5px 20px #d0d0d098;
	margin-bottom: 20px;
	overflow: auto;
}

.message>h1 {
	font-size: 1.3rem;
	color: cornflowerblue;
	margin: 0;
	font-weight: bold;
	text-decoration: underline;
}

.message>p {
	font-size: 1.3rem;
	margin: 10px;
}

.message>span {
	font-size: 0.9rem;
}